* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(224, 145, 255),
    rgb(255, 223, 245)
  );
  font-family: "Roboto", sans-serif;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #ffffff;
  filter: drop-shadow(2px 2px 0 rgb(143, 28, 127));
}

a {
  text-decoration: none;
}

p {
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  filter: drop-shadow(2px 2px 0 rgb(143, 28, 127));
}

.wrapper {
  margin: 50px;
  margin-bottom: 0;
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  margin: 40px auto;
  display: block;
  font-size: 70px;
  border: 1px solid transparent;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
  border-radius: 30px;
  padding: 40px 70px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: translateY(-4px);
  filter: drop-shadow(0 4px 8px rgba(139, 6, 88, 0.705));
}

.button:active {
  filter: none;
  font-size: 69px;
  box-shadow: inset 0 0 8px 0 rgba(139, 6, 88, 0.705);
  border: 1px solid rgba(139, 6, 88, 0.363);
  background-color: rgb(255, 238, 255);
}

.task1 {
  margin: 50px 0;
}

.task1__img {
  display: block;

  margin: 0 auto;
}

.input-code1 {
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-top: 50px;
  font-size: 30px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  outline: none;
}
.button-check {
  width: 70%;
  display: block;
  margin: 20px auto;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #fff;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-check:hover {
  background-color: rgba(139, 6, 88, 1);
  color: #fff;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.error {
  border: 2px solid rgb(175, 16, 114);
  filter: drop-shadow(0 0 10px rgb(175, 16, 114));
  color: rgb(175, 16, 114);
}
.success {
  border: 2px solid rgb(92, 241, 234);
  filter: drop-shadow(0 0 10px rgba(92, 241, 234, 0.548));
  color: rgb(11, 124, 119);
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 95%;
    margin: 30px 10px;
  }

  P {
    font-size: 30px;
  }
  .task1__img {
    width: 100%;
  }
  h1 {
    font-size: 50px;
  }
  .button-main {
    padding: 10px 20px;
    font-size: 50px;
  }
}
